asgiref==3.5.2
autopep8==2.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.1.4
django-widget-tweaks==1.4.12
djhtml==1.5.2
idna==3.4
packaging==22.0
Pillow==9.4.0
pip-autoremove==0.10.0
pycodestyle==2.10.0
pyngrok==5.2.1
pytesseract==0.3.10
PyYAML==6.0
requests==2.31.0
sqlparse==0.4.3
tomli==2.0.1
tzdata==2022.7
urllib3==2.0.2
