{% extends 'main/base.html' %} {% block title %} FIFA WORLD CUP PREDICTOR HOME
{% endblock title %} {% block body %}
<div class="container">
  <h1>Fifa World Cup Predictor</h1>
    <div class="container"> <!--for all group list-->
      <div class="container border border-info groups"> <!--for any specific group-->
        <h2>group -- </h2>
        <div class="container teams"> <!-- for 4 item team -->
          <ul>
            <li>team a</li>
            <li> team b</li>
            <li>team c</li>
            <li>team d</li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  {% endblock body %}