{% extends "main/base.html" %} {% load static %} {% block title %}
Rubelliumm-home {% endblock title %} {% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>হৃদয়ে বাংলাদেশ</h1>
      <img class="flag" src="{% static 'image/Bangladesh-xl.gif' %}" alt="Rubelliumm" />
    </div>
  </div>
</div>
<div class="container">
  <pre class="text-center mt-3 align-self-right">
    Hello, this is <b>Rubelliumm</b> here..
    This website is still in development process.
    I used Django web framework to build this web application.
    As time goes on, different feature will be added to this web application.
    Current functionalities of this web app is as follows:

    i. Fifa World cup predictor app.
    ii. Job app for bangladeshi job seeker person.
    iii. Todo app.
    iv. and other functional app to run this web application.

    If you have any advice/suggesion/query about me or my project,
    please feel free to ask me anything here >> j3rr4@programmer.net

  </pre>
</div>

{% endblock body %}