{% extends "main/base.html" %}
{% load static %}
{% block title %} Rubelliumm-home {% endblock title %}
{% block body %}

<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img class="flag" src="{% static 'image/Bangladesh-xl.gif' %}" alt="Rubelliumm" />
    </div>
  </div>
</div>
<div class="wrapperOuter">
  <div class="wrapper">

    <div class="setWrap">
      <div class="wtb wta">
        <span class="wtb__circle"></span>

        <span class="wtb__no--1">1</span>
        <span class="wtb__no--2">2</span>
        <span class="wtb__no--3">3</span>
        <span class="wtb__no--4">4</span>
        <span class="wtb__no--5">5</span>
        <span class="wtb__no--6">6</span>
        <span class="wtb__no--7">7</span>
        <span class="wtb__no--8">8</span>
        <span class="wtb__no--9">9</span>
        <span class="wtb__no--10">10</span>
        <span class="wtb__no--11">11</span>
        <span class="wtb__no--12">12</span>


        <span class="wtb__dot--1"></span>
        <span class="wtb__dot--2"></span>
        <span class="wtb__dot--4"></span>
        <span class="wtb__dot--5"></span>
        <span class="wtb__dot--7"></span>
        <span class="wtb__dot--8"></span>
        <span class="wtb__dot--10"></span>
        <span class="wtb__dot--11"></span>


        <span class="wtb__needle--sec sec"></span>
        <span class="wtb__needle--min min"></span>
        <span class="wtb__needle--hour hour"></span>
        <label class="wtb__pin"></label>
      </div>
    </div>

    <div class="clock"></div>
  </div>
</div>
<p style="margin-left: 8in;">Your clock is running!!! Why are you PAUSED?</p>


{% endblock body %}