{% extends "main/base.html" %}
{% load static %}
{% block title %}Rubelliumm-home {% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="row cont">
        <div class="col-sm-7">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, enim necessitatibus amet quam
            repellendus accusantium fugiat saepe odit? At expedita tenetur dolor obcaecati, nulla consequuntur possimus
            assumenda aperiam vitae, labore dolorem minus inventore praesentium distinctio maxime nesciunt pariatur unde
            sunt, adipisci mollitia iure culpa fugiat repellendus! Nobis autem impedit perspiciatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloribus molestias libero, repellendus
            ipsam, officia, voluptatibus ad dignissimos explicabo impedit maxime saepe? Illo, corporis. Sequi facilis
            obcaecati id ipsa velit iure voluptas fugiat nulla dicta quidem praesentium fuga dolorum impedit voluptate
            consequatur possimus nostrum, vel, molestias quam cumque. Molestias repudiandae veritatis ipsam dolorum
            fugit, odit possimus ex! Praesentium corporis, excepturi quia saepe maxime placeat, eaque vero adipisci
            labore sapiente reiciendis facilis animi omnis itaque voluptate quasi? Mollitia nisi animi repellat et
            asperiores adipisci in soluta minima ea voluptates atque fugiat tempora temporibus iure, reprehenderit
            officia est earum. Architecto doloribus mollitia vel? Animi, doloribus hic. Porro, dolore nobis. Temporibus
            natus facilis saepe iure mollitia laudantium quisquam in aliquam assumenda, ipsam perspiciatis ad! Id rerum
            explicabo quibusdam dolor sequi doloremque reprehenderit unde ipsam ipsa, voluptas perferendis quas, officia
            ad dolorem voluptatem sint debitis adipisci deleniti, voluptatibus quae natus iste libero! Reiciendis, saepe
            cumque, corporis earum id dicta repellendus, consequuntur esse ipsam vel eos perferendis? Enim vel aliquid
            vero incidunt quas autem est, debitis facere? Esse sint nobis eum corporis fugiat doloribus quo aut et,
            error, minus cumque recusandae harum saepe ratione accusantium. Dolorem labore natus tempora, temporibus
            error repellendus dignissimos illo iste!
        </div>
        <div class="col-sm-4">
            <img class="flag" src="{% static 'image/Bangladesh-xl.gif' %}" alt="Rubelliumm" />
            <div class="wrapperOuter">
                <div class="wrapper">

                    <div class="setWrap">
                        <div class="wtb wta">
                            <span class="wtb__circle"></span>

                            <span class="wtb__no--1">1</span>
                            <span class="wtb__no--2">2</span>
                            <span class="wtb__no--3">3</span>
                            <span class="wtb__no--4">4</span>
                            <span class="wtb__no--5">5</span>
                            <span class="wtb__no--6">6</span>
                            <span class="wtb__no--7">7</span>
                            <span class="wtb__no--8">8</span>
                            <span class="wtb__no--9">9</span>
                            <span class="wtb__no--10">10</span>
                            <span class="wtb__no--11">11</span>
                            <span class="wtb__no--12">12</span>


                            <span class="wtb__dot--1"></span>
                            <span class="wtb__dot--2"></span>
                            <span class="wtb__dot--4"></span>
                            <span class="wtb__dot--5"></span>
                            <span class="wtb__dot--7"></span>
                            <span class="wtb__dot--8"></span>
                            <span class="wtb__dot--10"></span>
                            <span class="wtb__dot--11"></span>


                            <span class="wtb__needle--sec sec"></span>
                            <span class="wtb__needle--min min"></span>
                            <span class="wtb__needle--hour hour"></span>
                            <label class="wtb__pin"></label>
                        </div>
                    </div>

                    <div class="clock"></div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}