{% extends 'main/base.html' %}

{% block body %}
{% if user.is_authenticated %}
<p>You are authenticated...please return to the home page <a href="{% url 'index_page_url' %}">here.</a></p>
{% else %}
<h1>login form</h1>
<div class='container'>
    <form method='POST' class="px-4 py-3">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_name">User name:</label>
            <input type="text" class="form-control" name="username" id="user_name" placeholder="user name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'registration_page_url' %}">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
</div>
{% endif %}


{% endblock body %}