{% load static %}
<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="/" class="logo">Rubelliumm</a>
    <ul class="main-nav" id="js-menu">

        <li>
            <a href="{% url 'main:index_page_url' %}" class="nav-links">HomePage</a>
        </li>
        <li>
            <a href="{% url 'main:about_page_url' %}" class="nav-links">About</a>
        </li>
        <li>
            <a href="{% url 'main:allprojects_page_url' %}" class="nav-links">Projects</a>
        </li>
        {% if user.is_superuser %}
        <li>
            <a href="/admin/" class="nav-links">Admin Dashboard</a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'blog:homepage_url' %}" class="nav-links">Blog</a>
        </li>
        <li>
            <a id="userId" href="#" class="nav-links"><i class="fa-solid fa-user"></i></a>
        </li>
    </ul>
</nav>