{% extends "jobapp/jobapp_base.html" %}
{% block jobappbody %}
<div class="container-fluid homepage-main">
    <div class="row top-row justify-content-between">
        <div class="col-md-3 features"></div>
        <div class="col-md-3 features"></div>
        <div class="col-md-3 features"></div>
    </div>
    <div class="row row-main justify-content-between">
        <div class="col-md-5 featured">
            <div class="row featured-text">
                <p>Top 3 Circulars!!!!!! </p>
            </div>
            <div class="row top-3">
                {% for circular in top_3_circular %}
                <div class="circular">
                    <h3>{{circular.title}}</h3>
                    <p>vacancies: {{circular.vacancy}}</p>
                    <p>{{circular.description}}....<a
                            href="{% url 'jobapp:individual_circular_page_url' circular.id %}">see more</a></p>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row sidebar-heading">
                <p>latest Circular postings</p>
            </div>
            {% for circular in recently_published_circular %}
            <div class="row latest-circular m-3">
                <div class="row circular">
                    <h2>{{circular.title}}</h2>
                    <p>vacancies: {{circular.vacancy}}</p>
                    <p>{{circualr.description}}....<a
                            href="{% url 'jobapp:individual_circular_page_url' circular.id %}">see more</a></p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-md-3">
            <div class="row sidebar-heading">
                <p>Latest Job news: </p>
            </div>
            <div class="row latest-circular m-3">
                <div class="row circular">
                    <h2>heading here.</h2>
                    <p>Lorem ipsum dolor sit amet....<a href="">see more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock jobappbody %}