<div class="jobnavbar d-flex">

    <span class="jobnavbar-toggle" id="js-navbar-toggle-jobapp">
        <i class="fas fa-bars"></i>
    </span>
    <h1 class="jobapp-nav-heading">Jobapp Home</h1>
    <ul class="d-md-flex justify-content-md-center">
        <div class="jobnavbar-list d-md-flex justify-content-md-center">
            <a href="{% url 'jobapp:jobapp_homepage_url' %}">
                <li><i class="fa-solid fa-house"></i> Home</li>
            </a>

            <div class="navbar-dropdown">
                <button class="dropdown-btn"><i class="fa-solid fa-paperclip"></i><a
                        href="{% url 'jobapp:all_circular_page_url' %}"> Circulars</a><i
                        class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">
                        <li>Govt. Circular</li>
                    </a>
                    <a href="#">
                        <li>Private Circular</li>
                    </a>
                    <a href="#">
                        <li>Autonomous Circular</li>
                    </a>
                    <a href="#">
                        <li>Bank Circular</li>
                    </a>
                </div>
            </div>
            <a href="{% url 'jobapp:topics_page_url' %}">
                <li><i class="fa-solid fa-list"></i> Topics</li>
            </a><a href="">
                <li><i class="fa-solid fa-pencil"></i> Model Tests</li>
            </a>
            <a href="{% url 'jobapp:topics_page_url' %}">
                <li><i class="fa-solid fa-list"></i> Exam Routine</li>
            </a>
            <a href="">
                <li><i class="fa-solid fa-square-poll-vertical"></i> Results</li>
            </a>
            <a href="">
                <li><i class="fa-solid fa-newspaper"></i> News</li>
            </a>
            <a href="">
                <li><i class="fa-solid fa-blog"></i> Blog</li>
            </a>
            <a href="{% url 'jobapp:saved_circular_page_url' %}">
                <li><i class="fa-regular fa-bookmark"></i> Saved Circulars</li>
            </a>
        </div>

    </ul>
</div>